<!DOCTYPE html>
<html>
  <head>
    {# <meta charset="UTF-8" /> #}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block favicon %}
      <link rel="shortcut icon" href="{{ asset('bundles/wgwebsite/images/favicon.ico') }}" />
    {% endblock %}
    {% block stylesheets %}
      <link href="{{ asset('bundles/wgwebsite/themes/sanfran/style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block conditional_stylesheets %}
    {% endblock %}
    {% block javascripts %}
      <script src="{{ asset('bundles/wgwebsite/js/jquery.min.js') }}"></script>
      <script src="{{ asset('bundles/wgwebsite/js/jquery-ui.min.js') }}"></script>
      <script src="{{ asset('bundles/wgwebsite/js/jquery.wgajaxform.js') }}"></script>
      <script src="{{ asset('bundles/wgwebsite/js/main.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}Written Games website{% endblock %}
  </body>
</html>
