
{% spaceless %}
<ul class="wg-taglist" sort-persist-url="{{ sortPersistUrl }}">
  {% for tag in tags %}
    <li class="wg-tag {{ tagType }}" id="entity_{{ tag.id }}" entity-id="{{ tag.id }}">
      <img alt="move" class="wg-handle move" src="/assets/images/move.png" />
      <span class="label">{{ attribute( tag, field ) }}</span>
      <a class="wg-handle default-remove"></a>
    </li>
  {% endfor %}
  <li class="wg-tag {{ tagType }} prototype" entity-id="0">
    <img alt="move" class="wg-handle move" src="/assets/images/move.png" />
    <span class="label"></span>
    <a class="wg-handle default-remove"></a>
  </li>
</ul>
{% endspaceless %}

